
        <form method="post" class="container" action="index.php?controller=security&action=login" enctype="multipart/form-data">
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username" value="" placeholder="">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" name="password" id="password" value="" placeholder="">
                </div>
            </div>
            
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Soumettre</button>
            </div>

        </form>
    

    


    