<!-- <nav>
    <ul>
        <li><a href='index.php?controller=new'>News</a></li>
        <li><a href='index.php?controller=category'>Category</a></li>  
    </ul>
</nav> -->

<!-- <ul class="navbar navbar-dark bg-dark nav nav-pills justify-content-center">
    <a class="navbar-brand" href="index.php?controller=new">Mon super Blog</a>
    <li class="nav-item">
      <a class="nav-link" href="index.php?controller=new">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index.php?controller=category">Category</a>
    </li>
</ul> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
  <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
    <a class="navbar-brand" href="index.php?controller=new">Mon super Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav">
      <!-- <li class="nav-item"> -->
        <!-- <a class='nav-link active' href='index.php?controller=new'>News</a> -->
        {nav}
      <!-- </li> -->
      <!-- <li class="nav-item"> -->
        <!-- <a class='nav-link active' href='index.php?controller=category'>Categorie</a> -->
        <!-- {cat] -->
      <!-- </li> -->
      <!-- <li class="nav-item"> -->
        <!-- <a class='nav-link active' href='index.php?controller=user'>Utilisateur</a> -->
        <!-- {util} -->
      <!-- </li> -->
    </ul>
  </div>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <!-- <li class="nav-item"> -->  
        <!-- <a class='nav-link active' href='index.php?controller=security&action=formLogin'>S'authentifier</a> -->
        {optionConnect}
      <!-- </li> -->
      <!-- <li class="nav-item"> -->
        <!-- <a class='nav-link active' href='index.php?controller=security&action=logout'>Se déconnecter</a> -->
      <!-- </li> -->
      <!-- <li class="nav-item"> -->
        <!-- {profil} -->
      <!-- </li> -->
    </ul>
  </div>
  
</nav>

<!-- <nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link" href="index.php?controller=new">News</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="index.php?controller=category">Category</a>
</nav> -->

<!-- <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="index.php?controller=new">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index.php?controller=category">Category</a>
    </li>
</ul> -->

<!-- <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="index.php?controller=new">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index.php?controller=category">Category</a>
    </li>
</ul> -->

<!-- <ul class="nav justify-content-center nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-new-tab" data-toggle="pill" href="index.php?controller=new" role="tab" aria-controls="pills-new" aria-selected="true">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-category-tab" data-toggle="pill" href="index.php?controller=category" role="tab" aria-controls="pills-category" aria-selected="false">Category</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-new" role="tabpanel" aria-labelledby="pills-new-tab">...</div>
    <div class="tab-pane fade" id="pills-category" role="tabpanel" aria-labelledby="pills-category-tab">...</div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
</div> -->